{% extends 'socialMedia/baseNav.html' %}
{% block body %}
  <h1 class="text-center py-3">My Recipes</h1>
  <div class="mx-5 row row-cols-3 g-4">
    {% for recipe in recipes %}
      <div class="col">
        <div class="card text-center" style="width: 18rem;">
          <img src="{{ recipe.recipe_image.url }}" style="max-width: 18rem; height: 18rem; overflow: hidden;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.recipe_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ recipe.recipe_category }}</h6>
            <a href="{% url 'recipies:recipe_detail' recipe.id %}" class="btn btn-primary">View Recipe</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}