{% extends 'socialMedia/baseNav.html' %}
{% block body %}
  <div class="container m-5">
    <div class="row">
      <div class="col d-flex align-items-center">
        <a class="btn btn-dark" href="{% url 'recipies:my_recipes' user.id %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"/>
          </svg>
          Back to my recipes
        </a>
      </div>
      <div class="col">
        <h1 class="text-center">{{ recipe.recipe_name }}</h1>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <a class="btn btn-primary" href="{% url 'recipies:recipe_edit' recipe.id %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg>
          Edit Recipe
        </a>
      </div>
    </div>
    <div class="row">
      <div class="row d-flex justify-content-center p-3">
        {% if recipe.recipe_image != "empty.jpg" %}
        <img src="{{ recipe.recipe_image.url }}" style="max-width: 700px;" alt="{{ recipe.recipe_name }}"> 
        {% endif %}
      </div>

      <!-- ingredients  -->
      <p class="h3">Ingredients:</p>
      <hr>
      <div class="row pb-3">
        <div class="col-6">
          <div class="list-group">
            {% for ingredient in ingredient_list %}
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                {{ingredient.ingredient_name}} {{ingredient.ingredient_quanitiy}} {{ingredient.ingredient_measurement}} 
              </label>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>Oven Temp: {{recipe.oven_temp}}&deg; F</p>
        </div>
        <div class="col">
            <p>Serving Size: {{recipe.serving_size}}</p>
        </div>
        <div class="col">
          <p>Category: {{recipe.recipe_category}} </p>
        </div>
        <div class="col">
          <p>Tags: {{recipe.recipe_tags}} </p>
        </div>
      </div>
      <div class="row">
        <p class="h3">Instructions:</p>
        <hr>
        <p>{{recipe.recipe_instructions}} </p>
      </div>
      <p>Likes: {{recipe.likes}}</p>
    </div>
  </div>
{% endblock %}