{% extends './baseNav.html' %}
{% block body %}
  <h1 class="py-3 text-center">Search Recipes By Category</h1>
  <div class="col px-5">
    <form action="{% url 'socialMedia:categories' user.pk %}" method="POST" class="form-inline">
      {% csrf_token %}
      <div class="row py-3">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="category_search" name="category_search">
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>
    <div class="row py-3">
      {% if recipe_category_list %}
      <div class="col px-5">
        {% for recipe in recipe_category_list %}
          <div class="row px-5">
            <div class="card">
              <div class="col">
                <h1 class="text-center">{{ recipe.recipe_name }}</h1>
              </div>
              <div class="row">
                <div class="row d-flex justify-content-center p-3">
                  {% if recipe.recipe_image != "empty.jpg" %}
                    <img src="{{ recipe.recipe_image.url }}" style="max-width: 700px;" alt="{{ recipe.recipe_name }}"> 
                  {% endif %}
                </div>
                <div class="row">
                  <div class="col">
                    <p>Category: {{recipe.recipe_category}} </p>
                  </div>
                  <div class="col">
                    <p>Tags: {{recipe.recipe_tags}} </p>
                  </div>
                </div>
                <div class="text-center pb-4">
                  <a href="{% url 'socialMedia:recipe_detail' recipe.id %}" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card-footer d-flex">
                  <div class="col">
                    <small class="text-muted">Likes: {{recipe.likes}}</small>
                  </div>
                  <div class="col">
                    <small class="text-muted">Creator: {{recipe.creator}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <footer class="d-flex justify-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if recipe_list.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{recipe_category_list.previous_page_number}}">Previous</a></li>
              {% endif %}
              {% if recipe_list.has_has_next %}
              <li class="page-item"><a class="page-link" href="?page={{recipe_category_list.next_page_number}}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
        </footer>
      {% endif %}
    </div>
  </div>

  <!-- <footer class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if recipe_list.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{recipe_list.previous_page_number}}">Previous</a></li>
        {% endif %}
        {% if recipe_list.has_has_next %}
        <li class="page-item"><a class="page-link" href="?page={{recipe_list.next_page_number}}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  </footer> -->
{% endblock %}