{% extends './baseNav.html' %}
{% block body %}
  <div class="col p-5">
  {% for recipe in recipe_list %}
    <div class="row mx-5 py-3">
      <div class="card">
        <div class="col">
          <h1 class="text-center">{{ recipe.recipe_name }}</h1>
        </div>
        <div class="row">
          <div class="row d-flex justify-content-center p-3">
            {% if recipe.recipe_image != "empty.jpg" %}
              <img src="{{ recipe.recipe_image.url }}" style="max-width: 700px;" alt="{{ recipe.recipe_name }}"> 
            {% endif %}
          </div>
          <div class="row">
            <div class="col">
              <p>Category: {{recipe.recipe_category}} </p>
            </div>
            <div class="col">
              <p>Tags: {{recipe.recipe_tags}} </p>
            </div>
          </div>
          <div class="text-center pb-4">
            <a href="{% url 'socialMedia:recipe_detail' recipe.id %}" class="btn btn-primary">View Recipe</a>
          </div>
          <div class="card-footer d-flex">
            <div class="col">
              <small class="text-muted">Likes: {{recipe.likes}}</small>
            </div>
            <div class="col">
              <small class="text-muted">Creator: {{recipe.creator}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <footer class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if recipe_list.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{recipe_list.previous_page_number}}">Previous</a></li>
        {% endif %}
        {% if recipe_list.has_has_next %}
        <li class="page-item"><a class="page-link" href="?page={{recipe_list.next_page_number}}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  </footer>
{% endblock %}